footer {
  position: fixed;
  height: 51px;
  width: 100%;
  background: #cbcbcb;
  margin: 0 -8px;

  display: flex;
  justify-content: center;

  a {
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 4px;
    text-decoration: none;
    align-self: center;
    display: flex;
    align-items: flex-end;

    &:visited {
      color: black;
    }

    span {
      padding-left: 10px;
    }

    img {
      height: 25px;
    }
  }
}
