footer{
  position:fixed;
  left:0;
  bottom:0;
  height:50px;
  width:100%;
  background: #cbcbcb;
  z-index: 999;

  display: flex;
  justify-content: center;

  div{
    align-self: center;
    display: flex;
    align-items: flex-end;
  }
}

img{
  height: 25px;
}

a{
  font-family: 'Josefin Sans', sans-serif;
  padding-left: 4px;
  text-decoration: none;

  &:visited{
    color: black;
  }
}
