.body {
  height: calc(100vh - 69px);
  overflow-x: scroll;
  padding-bottom: 10px;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 4%;

  .title {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 2em;

    @media only screen and (min-width: 768px) {
      font-size: 3em;
    }

    margin-bottom: 15px;
  }

  .subtitle {
    font-weight: 500;
    font-size: 2em;

    margin-top: 0;
  }
}

.stepper-navigation {
  float: right;
  margin-top: 8px;

  button {
    width: 125px;
  }
}

/deep/ .mat-step-header .mat-step-icon:not(.mat-step-icon-selected) {
  background-color: rgba(0, 0, 0, 0.24);
}

/deep/ .mat-horizontal-stepper-header {
  pointer-events: none;
}

/deep/ .mat-horizontal-content-container {
  padding: 0 24px 5px 24px !important;
}
