<mat-horizontal-stepper linear #stepper>
  <mat-step label="Run"> <!--[stepControl]="runForm"-->
    <mat-card>
      <app-workout-form-container></app-workout-form-container>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-card>
  </mat-step>
  <mat-step label="Bike">
    <app-workout-form-container></app-workout-form-container>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Done">
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
