<mat-tab-group>
  <mat-tab label="one">
    <form> <!--  [formGroup]="runForm" -->
      <mat-form-field floatLabel="always">
        <mat-label>Starting Weight</mat-label>
        <input matInput type="number" placeholder="">
        <span matSuffix>lbs</span>
      </mat-form-field> <br/>

      <mat-form-field floatLabel="always">
        <mat-label>End Weight</mat-label>
        <input matInput type="number" placeholder="">
        <span matSuffix>lbs</span>
      </mat-form-field> <br/>

      <mat-form-field floatLabel="always">
        <mat-label>Number of Bottles Consumed</mat-label>
        <input matInput type="number" placeholder="">
      </mat-form-field> <br/>

      <mat-form-field floatLabel="always">
        <mat-label>Bottle Size</mat-label>
        <input matInput type="number" placeholder="">
        <span matSuffix>oz</span>
      </mat-form-field> <br/>

      <mat-form-field floatLabel="always">
        <mat-label>Length of Workout</mat-label>
        <input matInput type="number" placeholder="">
        <span matSuffix>mins</span>
      </mat-form-field>
    </form>
  </mat-tab>
</mat-tab-group>
