/* You can add global styles to this file, and also import other style files */
@import "theme";
@include mat-core();
@include angular-material-theme($my-theme)

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  html{
    height: 0;
  }

  body{
    height: 100vh;
    overflow-x: hidden;
  }
}

body {
  margin: 8px 0;
}
